<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- xml파일이라 앞에 패키지 이름 일단 신경쓰지말자 -->
<mapper namespace="com.my.mybatis.ReviewMapper">

	<insert id="insert" parameterType="Review">
		INSERT INTO Review(review_no, review_star, review_des, review_date, mem_Id,review_state, st_Num)
		VALUES (review_seq.nextVal,#{reviewStar},#{reviewDes},SYSDATE,#{memId},#{reviewState},#{stNum})
	</insert>
  
<update id="update" parameterType="Review">
	UPDATE review
	SET review_des = #{reviewDes}
	WHERE review_no=#{reviewNo}
</update>


<update id="updateReviewState" parameterType="Review">
UPDATE Review
SET review_state =0
WHERE  st_Num=#{stNum}
</update>
	
<select id="selectBystNum" parameterType="int" resultType="Review">
select *
from review
where st_Num=#{stNum}
</select>

<select id="selectBystNumNew" parameterType="int" resultType="Review">
select *
from review
where st_Num=#{stNum}
order by review_date desc
</select>

<select id="selectBystNumStar" parameterType="int" resultType="Review">
select *
from review
where st_Num=#{stNum}
order by review_star desc
</select>


<delete id="delete" parameterType="int">
delete 
from review
where review_No=#{reviewNo}
</delete>

<update id="modify" parameterType="Review">
 	UPDATE Review 
 	SET review_Des = #{reviewDes},
	review_star = #{reviewStar}
	where review_No = #{reviewNo}
</update>
  

<select id="selectById" parameterType="String">
	SELECT *
	FROM REVIEW
	WHERE mem_ID = #{memId}
</select>

</mapper>